.cart-section {
    display: flex;
}

.shadow-lg {
    box-shadow: 0 0 3px 0 #aaa, 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.cart-product-overview {
    display: flex;
}

.cart-product-overview img {
    height: 120px;
    width: 120px;
    object-fit: contain
}

.cartTable {
    border-collapse: separate;
    border-spacing: 25px;
    text-align: center;
    vertical-align: middle;
}

.cartTable th {
    color: #204cb5;
}

.quantityCounter {
    height: 10%;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border: 1.5px solid lightgrey;
    margin: 0 auto;
}

.cart-container {
    width: 85%;
}

.cartTable td {
    padding: 30px;
}

.priceText {
    font-size: x-large;
}

.cart-name-overview {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}

.cart-product-name {
    font-weight: bold;
    padding-bottom: 5%;
}

.cart-product-id {
    color: grey;
}