.checkout-section {
    max-width: 85%;
    margin: 1rem auto;
    justify-content: space-evenly;
}


.checkout-page {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
  
.checkout-page > .checkout-containers-main {
    width: 45%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


  
.checkout-progress span { display:block; width:50%; float:left; height:5px;}

.checkout-container-info-box, .checkout-container-lg{
    box-shadow: 0 0 3px 0 #aaa, 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: 10px;
}


.line{
    width:100%;
}
.color-1{
    background:#0033aa;
}
.color-2{
    background:#c4c4c4;
}


.checkout-progress img {
    margin-top: -13px;
    position: absolute;
    border: 3px #0033aa solid;
    box-shadow: 0 0 5px blue;
    border-radius: 50%;
    padding: 3px;
    background-color: white;
}

  div.checkout-container-info-box {
    background: white;
    margin: 1rem auto;
    display: block !important;
    width: 100%;
    padding: 1.5rem;
  }
  
  .checkout-container-info-box select,
  .checkout-container-info-box input {
      border: 1px solid #ccc;
      padding: .5rem 1rem;
      border-radius: 3px;
      width: 100%;
      box-shadow: 0 0 5px 0 #ccc;
  }
  
  div.checkout-container-info-box .form-group {
    padding: 0;
  }
  
  div.checkout-container-info-box h6 {
    margin-bottom: 2rem;
    color: #007bff;
  }
  
  .checkout-container-info-box > div {
    margin-bottom: 1rem;
  }

.checkout-containers-main-overview-heading {
    display: flex;
    justify-content: space-between;
    color: #007bff;
}

.checkout-containers-main-overview {
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout-container-lg select, button[type="submit"] {
    width: 80%;
    margin: 0 auto;
}

.checkout-image-container {
    height: 150px;
    width: 150px;
    box-shadow: none;
    box-shadow: 0 0 3px 0 #aaa, 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.checkout-image-container img {
    height: 135px;
    width: 135px;
    object-fit: contain;
    align-items: center;
    margin: 0 auto;
}


.checkout-price-overview {
    padding-left: 15px;
}

.checkout-price-overview-quanity {
    color: grey;
}

.priceText {
    font-size: x-large;
}

.order-details-summary-container {
    width: 50%;
    margin: 0 auto;
}

.order-details-summary-container {
    max-width: 250px;
  }
  
  .order-details-summary {
    max-width: 250px;
    width: 100%;
    margin: 0 auto .5rem;
  }
  
  .order-details-summary.order-details-summary-container {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    padding-top: 1rem;
  }
  
  .order-details-summary:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  
  .order-details-summary .priceText {
    float: right;
    font-size: 22px;
    font-weight: 600;
  }