.contactus-main {
    margin: 0 auto;
    padding: 0;
    width: 75%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 3px 0 #aaa, 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin-top: 100px;
}

.contactus-show {
    background-color: #0033aa;
    flex: 1;
    padding: 80px;
    align-items: center;
    color: white;
}

.contactus-show a {
    text-decoration: none !important;
    font-weight: bold;
    color: white;
}

.contactus-show a:hover {
    text-decoration: underline;
}

.contactus-show-heading img {
    height: 30px;
    filter: invert(100%) sepia(81%) saturate(0%) hue-rotate(347deg) brightness(104%) contrast(103%);
}

.contactus-illustration {
    height: 500px;
    /* width: 50%; */
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

.contactus-illustration img {
    height: 500px;
    width: 500px;
    object-fit: contain
}

.contactus-form {
    flex: 1;
    margin: 100px;
    color: #0033aa;
}

.contactus-form button {
    color: white;
    background-color: #0033aa;
    width: 100%;
    transition: 0.2s;
}

.contactus-form button:hover {
    color: white;
    background-color: darkblue;
}
