body {
    margin: 0;
    padding: 0;
}

.product-section {
    margin: 0 auto;
    width: 90%;
}

.all-products-container {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    flex-grow: 4;
}

.large-product-container {
    height: 350px;
    max-width: 350px;
    overflow: hidden;
    margin: 75px;
}

.product-image-container {
    height: 250px;
    width: 250px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
}

.product-image-container img{
    height: 90%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-buttons {
    position: relative;
    width: 100%;
}

.product-information {
    text-align: center;
}