.subscription-container {
    width: 85%;
    box-shadow: 0 0 3px 0 #aaa, 0 1rem 3rem rgba(0,0,0,.175)!important;
    border: #ccc;
    margin: 0 auto;
    padding: 25px;
}

.subsciptionTable {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 0 1em;
}

.subscription-product-overview {
    display: flex;
}

.subscription-product-overview-image {
    height: 120px;
    width: 120px;
}


.subscription-product-overview img {
    height: 120px;
    width: 120px;
    object-fit: contain
}

.subscription-name-overview {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}

.subsctiption-product-name {
    font-weight: bold;
    padding-bottom: 5%;
}

.subcription-product-id {
    color: grey;
}

.quantityCounter {
    height: 10%;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border: 1.5px solid lightgrey;
    margin: 0 auto;
}

.subcription-update {
    color: white;
    font-weight: 600;
    background-color: #0033aa;
}

.subcription-update:hover {
    color: white;
}