<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/cart.css">
    </head>
    <body>
        <section class="cart-section text-center d-flex justify-content-center">
            <div class="cart-container d-flex flex-column">
                <table class="cartTable">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                    <tr class="shadow-lg bg-white rounded cart-table">
                        <td class="cart-product-overview">
                            <img class="img-fluid rounded" src="https://5.imimg.com/data5/XI/RB/XJ/GLADMIN-47577662/selection-268-250x250.png" alt="">
                            <div class="cart-name-overview text-uppercase">
                                <span class="cart-product-name">Instchef Kadhai Paneer 50Gms</span>
                                <span class="cart-product-id">Product ID: SD2145123
                            </div>
                        </td>
                        <td>
                        <div class="quantityCounter rounded" >
                        <a href="{% url 'DecrementCartQuantity' product.product_id %}">-</a>&nbsp;
                            <span class="td-color" style="display: inline;">1</span>&nbsp;
                            <a href="{% url 'IncrementCartQuantity' product.product_id %}">+</a>
                        </div>
                        </td>                    
                        <td class="priceText">&#8377;50</td>
                        <td class="priceText td-color"><span>&#8377;50<span></td>
                    </tr>
                    <tr class="shadow-lg bg-white rounded cart-table">
                        <td class="cart-product-overview">
                            <img class="img-fluid rounded" src="https://5.imimg.com/data5/XI/RB/XJ/GLADMIN-47577662/selection-268-250x250.png" alt="">
                            <div>
                                <span class="cart-product-name">Instchef Kadhai Paneer 50Gms</span><br>
                                <span>Product ID: SD2145123
                            </div>
                        </td>
                        <td>
                        <div class="border rounded" >
                        <a href="{% url 'DecrementCartQuantity' product.product_id %}">-</a>&nbsp;
                            <span class="td-color" style="display: inline;">2</span>&nbsp;
                            <a href="{% url 'IncrementCartQuantity' product.product_id %}">+</a>
                        </div>
                        </td>                    
                        <td class="priceText">&#8377;680</td>
                        <td class="priceText td-color"><span>&#8377;1360<span></td>
                    </tr>
                </table>
            </div>
        </section>
            
    </body>
</html>