<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/checkout.css">
    </head>
    <body>
        <div class="checkout-progress">
            <span class="color-1"></span>
            <img src="https://img.icons8.com/plumpy/24/000000/double-tick.png"/>
            <span class="color-2"></span>
        </div>
        <section class="checkout-section">
            <h4 style="padding: 75px 0px 0px 75px; color: #0033aa;">Billing Details</h4>
            <div class="d-flex checkout-page">
                <div class="checkout-container-info checkout-containers-main">
                    <div class="checkout-container-info-box checkout-container-info-box-1 d-flex justify-content-between checkout-containers">
                        <div>
                            <p>Select Saved Address:</p>
                            <select class="form-control" required>
                                <option>Address Option</option>
                            </select>
                        </div>
                        <div>
                            <p>Select Delivery Type:</p>
                            <select class="form-control" required>
                                <option>Large select</option>
                            </select>
                        </div>
                    </div>
                    <div class="checkout-container-info-box rounded add-address-checkout checkout-containers">
                        <h6>New Address:</h6>
                        <form method="POST" action="{% url 'addShippingAddress' %}">
                         <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="field-label">Address Line 1</div>
                                <input type="text" name="address1" value="" placeholder="" required>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Address Line 2</div>
                                    <input type="text" name="address2" value="" placeholder="" required>
                                </div>
                            <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                <div class="field-label">Pincode</div>
                                    <input type="text" name="pincode" value="" placeholder="" required>
                                </div>
                             <button type="submit" class="btn btn-primary">Save changes</button>
                          </form>
                    </div>
                </div>
                <div class="checkout-containers-main-overview checkout-container-lg checkout-containers-main">
                    <div class="checkout-containers-main-overview-heading">
                        <h6>Cart Summary</h6>
                        <h6><a href="#">Edit</a></h6>
                    </div>
                    <div class="d-flex">
                        <div class="checkout-image-container center rounded">
                            <img src="https://5.imimg.com/data5/SY/DM/RD/GLADMIN-47577662/selection-267-250x250.png">
                        </div>
                        <div class="checkout-price-overview">
                            <h5 class="text-upercase checkout-price-overview-name font-weight-bold">Instachef Kadhai Paneer 50gms</h5><br>
                            <span class="checkout-price-overview-quanity">&#8377; 50 x 2 items</span><br>
                            <span class="amount-summary checkout-price-overview-total priceText">&#8377; 100</span><br>
                        </div>
                    </div>
                    <hr>
                    <div class="order-details-summary-container">
                        <div class="order-details-summary">
                            <span>Order Sub-Total: </span>
                            <span class="amount-summary priceText">&#8377;100 </span>
                        </div>
                        <div class="order-details-summary">
                            <span>Delivery Charges: </span>
                            <span class="amount-summary priceText">&#8377;100 </span>
                        </div>
                    </div>
                    <hr>
                    <div class="order-details-summary order-details-summary-container">
                        <span>Total:</span>
                        <span class="amount-summary priceText">&#8377;100 </span>
                    </div>
                    <select class="form-control">
                        <option>Large select</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </div>
            </div>
        </section>
    </body>
</html>