<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main_category.css">
        <link rel="stylesheet" href="css/color1.css">
    </head>
    <body>
        <section class="product-section">
            <div class="all-products-container">
                <div class="large-product-container">
                    <div class="product-image-container">
                        <img src="https://tiimg.tistatic.com/fp/1/005/921/mawa-835.jpg" alt="Product Image">
                    </div>
                    <div class="product-information">
                        <span><b>Cow Ghee 1 LTR</b></span><br>
                        <span>&#8377; 799</span>
                    </div>
                    <div class=""><a href="{% url 'addtocart' product.p_product_id %}" class="btn btn-solid product-buttons rounded">Add to Cart</a></div>
                </div>
            </div>
        </section>
    </body>
</html>