<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/subcription.css">
    </head>
    <body>
        <section class="subscription-section">
            <div class="subscription-container">
                <h4>Active Subscriptions</h4>
                <table class="subsciptionTable">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quanity</th>
                        <th></th>
                        <th>Status</th>
                        <th>Remove Subscription</th>
                    </tr>
                    <tr>
                        <td class="subscription-product-overview">
                            <div class="rounded subscription-product-overview-image">
                                <img class="img-fluid rounded" src="https://5.imimg.com/data5/XI/RB/XJ/GLADMIN-47577662/selection-268-250x250.png" alt="">
                            </div>
                            <div class="subscription-name-overview text-uppercase">
                                <span class="subcription-product-name">Instchef Kadhai Paneer 50Gms</span>
                                <span class="subcription-product-id">Product ID: SD2145123
                            </div>
                        </td>
                        <td>&#8377; 50</td>
                        <td>
                        <div class="quantityCounter rounded" >
                            <span class="td-color" style="display: inline;">1</span>&nbsp;
                        </div>
                        </td>
                        <td><button type="button" class="btn subcription-update">Change Date</button></td>
                        <td><a href="{% url 'subscriptionStopAndResume' product.id %}"><button type="button" class="btn btn-secondary rounded switch">Subscription Off</button></a></td>
                        <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="subscription-product-overview">
                            <img class="img-fluid rounded" src="https://5.imimg.com/data5/XI/RB/XJ/GLADMIN-47577662/selection-268-250x250.png" alt="">
                            <div class="subscription-name-overview text-uppercase">
                                <span class="subcription-product-name">Instchef Kadhai Paneer 50Gms</span>
                                <span class="subcription-product-id">Product ID: SD2145123
                            </div>
                        </td>
                        <td>&#8377; 50</td>
                        <td>
                        <div class="quantityCounter rounded" >
                            <span class="td-color" style="display: inline;">1</span>&nbsp;
                        </div>
                        </td>
                        <td><button type="button" class="btn subcription-update">Change Date</button></td>
                        <td><a href="{% url 'subscriptionStopAndResume' product.id %}"><button type="button" class="btn btn-secondary rounded switch">Subscription Off</button></a></td>
                    </tr>
                </table>
            </div>    
        </section>
    </body>
</html>